/vendor/
.env
.idea
/nbproject/private/
/options.json
/cronscript
/nbproject/project.properties
/nbproject/project.xml
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
run.sh
